<div>
  <div class="image__container">
    <img
      src="https://acdn.mitiendanube.com/stores/001/097/946/themes/new_linkedman/1-slide-1687544554581-7084438022-a42e04ac0d7e63caee150ac09876249a1687544556-1920-1920.webp?76398196"
      alt=""
    />
  </div>

  <div class="paginador">
    <span
      ><img src="https://cdn-icons-png.flaticon.com/128/122/122164.png" alt=""
    /></span>
    <span
      ><img src="https://cdn-icons-png.flaticon.com/128/122/122164.png" alt=""
    /></span>
    <span
      ><img src="https://cdn-icons-png.flaticon.com/128/122/122164.png" alt=""
    /></span>
    <span
      ><img src="https://cdn-icons-png.flaticon.com/128/122/122164.png" alt=""
    /></span>
    <span
      ><img src="https://cdn-icons-png.flaticon.com/128/122/122164.png" alt=""
    /></span>
  </div>
</div>
